body {
    margin: 0;
    padding: 0;
}

.main-outer {
    /*width: 100;*/
    height: 100vh;
    display: flex;
    justify-content: center;
    /* overflow-x:hidden; */
    /* border: 1px solid red; */
}

/* ----------------------- */

.main-inner {
    width: 100%;
    height: 100%;
    /* border: 1px solid rgb(255, 32, 32); */
}

/* ---------------------------------- */
/* ---------------------------------- */

.navigation-bar {
    width: 100%;
    height: 5rem;
    /* border: 1px solid red; */
    background-color: #0a0a0a;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-tabs {
    list-style: none;
    padding: 0;
}

.nav-tabs li {
    float: left;
    padding: 0 1.5rem;
}

.nav-tabs li a {
    text-decoration: none;
    font-family: 'Padauk', sans-serif;
    text-transform: uppercase;
    /* font-weight: bold; */
    font-size: 18px;
    color: #fbfffe;
}

.nav-tabs li a:hover {
    color: #34be9c;
}

.social-tab-icons {

    list-style: none;
    padding: 0;
}

.social-tab-icons li {
    float: left;
    padding: 0 1rem;
}

.bx {
    color: #fbfffe;
    font-size: 18px;
}

.bx:hover {
    color: #34be9c;
}

/* ----------------------------------- */
/* section-01 */

.section-01 {
    width: 100%;
    height: 53rem;
}

.section-01-inner {
    width: 100%;
    height: 100%;

    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
}

.form-container {
    width: 50%;
    height: auto;
    border-radius: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);

    display: flex;
    flex-direction: row;
    box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);

    background-color: rgb(127, 255, 212/15%);
    backdrop-filter: blur(8px);
    box-sizing: border-box;
}

.bg-img {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: -1;

    width: 100%;
    height: 100%;

    background-image: url(../Assets/Images/account-bg.jpg);
    background-size: cover;
}

.picture-container {
    width: 50%;
    height: 100%;
}

.form-details {
    width: 100%;
    height: 100%;
    border-radius: 0 0.5rem 0.5rem 0;
    background-color: rgba(4, 5, 4,95%);
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 1rem;
}

/* ----------------------------------------------- */

/* fill up sectyion */
.set {
    gap: 0.5rem;
}

.sets input {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border:none;
    background:none;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.sets input:focus{
    outline: none;
}

.set input{
    color: #ffffff;
    font-size: 1.2rem;
}


.set label {
    font-family: 'Padauk', sans-serif;
    font-size: 1em;
    /* font-weight: bold; */
    color: #fbfffe;
}

.sets {
    /* border: 1px solid red; */
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.submit-btn {
    width: 150px;
    height: 40px;

    border-radius: 0.3rem;
    margin: 1rem;
    background-color: #34be9c;

}

.submit-btn:hover {
    color: #fbfffe;
    background-color: #34be9c;
    transition: all 0.3s;
    border: 1px solid snow;

    box-shadow: 0px 0px 60px -2px rgba(84, 235, 164, 0.81);
    -webkit-box-shadow: 0px 0px 60px -2px rgba(84, 235, 164, 0.81);
    -moz-box-shadow: 0px 0px 60px -2px rgba(84, 235, 164, 0.81);

}




/* ------------------------------------- */


.section-03 {
    width: 100%;
    height: 50rem;
}

.section-03-inner {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.white-boc {
    width: 100%;
    height: 35%;
    background-color: #fbfffe;
}

.color-box {
    width: 100%;
    height: 100%;
    background-color: #34be9c;
}

.detail-box {
    width: 70%;
    height: 15rem;
    background: #171818;
    border-radius: 1.5rem;

    position: absolute;
    margin-top: 3rem;
    padding: 1rem;

    display: flex;
    flex-direction: row;

    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.3);

}

.sides {
    flex: 1;
}

.footer-styles {
    font-family: 'Roboto', sans-serif;
    color: #fbfffe;
    font-size: 3rem;
    margin: 0;
    gap: 1rem;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.right-side {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-side button {
    width: 170px;
    height: 60px;
    border-radius: 5px;
    border: none;
    color: #fbfffe;
    background-color: #34be9c;
    font-size: 1rem;
    font-weight: bolder;
}

.right-side button:hover {
    color: #0a0a0a;
    background-color: #fbfffe;
    transition: all 0.2s;

    box-shadow: 0px 2px 15px 0px #34be9c;
    -webkit-box-shadow: 0px 2px 15px 0px #34be9c;
    -moz-box-shadow: 0px 2px 15px 0px #34be9c;
}

.color-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.table-footer {
    border-collapse: collapse;
    /* border: 1px solid black; */
    table-layout: fixed;
    width: 50%;
    margin-top: 10%;
}

.table-footer th,
td {
    text-align: left;
    /* border: 1px solid black; */
    font-family: 'Roboto', sans-serif;
    color: #fbfffe;
    line-height: 3rem;
}

.table-footer td a {
    text-decoration: none;
    color: #fbfffe;
}

.table-footer td a:hover {
    color: #0a0a0a;
}

.footer-tags h2,
h3 {
    margin: 0;
    color: #fbfffe;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.footer-tags {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}